@{
    ViewBag.Title = "About";
}
<h1 align="center" style="color:brown;border:groove">ABOUT US</h1>
<h1>Vision</h1><hr />
<p>
    Institute for Advanced Computing and Software Development is committed to producing high quality manpower with technical and intellectual skills, by creating conducive academic climate, where future leaders are imbibed with Gyan (Knowledge), Buddhi (Wisdom) and Vivek (Consciousness).
</p>
<h1>Mission</h1><hr />
<p>
    Our mission is to create high skilled IT resources which are recognized by major corporates in India. We strive to inculcate strong technical and interpersonal skills that help the students excel in the corporate world.
</p>
<h1>OverView</h1><hr />
<p>
    Centre for Development of Advanced Computing (C-DAC) is the premier R&D organization of the Department of Information Technology (DIT), Ministry of Communications & Information Technology (MCIT) for carrying out R&D in IT, Electronics and associated areas.  The setting up of C-DAC in 1988 itself was to build Supercomputers in context of denial of import of Supercomputers by USA. Since then C-DAC has been undertaking building of multiple generations of Supercomputers starting with PARAM with 1 GF in 1988.

    C-DAC's Advanced Computing Training School (ACTS) was set up in 1993 to impart quality training in high-end technologies to existing and prospective users of advanced computing. Over the last 17 years, the activities of ACTS have extended nationally through a network of four centers in Pune, Delhi, Bangalore and Hyderabad and almost 46 Authorized Training Centers (ATCs). Today, ACTS offers a range of basic and advanced courses spanning a wide spectrum in the field of Information Technology.
</p>