@{
    ViewBag.Title = "Contact";
}


<h1 align="center" style="color:brown;border:groove">CONTACT US</h1>

<p>IACSD is located in the industrial and educational hub of Pune where industrial giants such as Telco, Bajaj, Finolex, Hindustan Antibiotics, SKF, Krupp etc and software units such as Mahindra Consulting, Tata Technologies, Tata Infotech, PCS, Kanbay etc are situated.</p>

<p>Location Map:
IACSD

Address:

Institute for Advanced Computing & Software Development (IACSD)
Dr. D.Y. Patil Educational Complex,
Sector 29, Behind Akurdi Railway Station,
Nigdi Pradhikaran, Akurdi
Pune - 411044

Contact:

Tel: +91-20-27659509/27652794/9607690988
Fax: +91-20- 27652794/27650229
E-mail: iacsd@vsnl.com
    </p>