
@{
    ViewBag.Title = "DashBoard";
}

<h3 align="right"><a href="/Admin/Logout">LOGOUT</a></h3>
<h1 align="center" style="color:blue;margin-left:30px;font-family:Algerian" ><u><strong>ADMIN DASHBOARD</strong></u></h1>

<marquee><h1>INSTIUTE OF ADVANCE COMPUTING AND SOFTWARE DEVELOPMENT</h1></marquee>
<table style="color:magenta; background-color:gainsboro" border="1">
    <tr>
        <td>
            <img src="~/Images/Image1.jpeg" alt="Image Unvavailable" height="100px" width="200px"/>
        </td>
        <td>
            <img src="~/Images/Image5.jpg" alt="Image Unvavailable" height="100px" width="200px"/>
        </td>
        <td>
            <img src="~/Images/batch.jpg" alt="Image Unvavailable" height="100px" width="200px"/>
        </td>

        <td>
            <img src="~/Images/schedule.png" alt="Image Unvavailable" height="100px" width="200px" />
        </td>
        <td>
            <img src="~/Images/subject.png" alt="Image Unvavailable" height="100px" width="200px" />
        </td>
        <td>
            <img src="~/Images/subject.jpeg" alt="Image Unvavailable" height="100px" width="200px"/>
        </td>
        <td>
            <img src="~/Images/courseoff.png" alt="Image Unvavailable" height="100px" width="200px"/>
        </td>
    </tr>
    <tr>
        <td>
          <h4>  <a href="/Student/Index"> STUDENT PORTAL</a></h4>
        </td>
        <td>
           <h4> <a href="/Faculty/Index"> FACULTY PORTAL</a></h4>
        </td>
        <td>
          <h4>  <a href="/Batch/Index">BATCH INFO</a></h4>
        </td>

        <td>
         <h4>   <a href="/Schedule/Index">SCHEDULE DETAILS</a></h4>
        </td>
        <td>
          <h4><a href="/Result/Index">RESULTS DETAILS</a></h4> 
        </td>
        <td>
            <h4><a href="/Subject/Index">SUBJECT DETAILS</a></h4>
        </td>
        <td>
            <h4><a href="/Course/Index">COURSES OFFERED</a></h4>
        </td>


    </tr>



</table>
